@font-face {
  font-family: myFirstFont;
  src: url(Formula1-Regular.ttf);
}
body{
    background-color: #0f0f0f;
}
#main{
    position: absolute;
    left: 10%;
    right:10%;
    top:10%;
    width:80%;
    padding-bottom: 20%;
    background-color: white;
    border-radius: 20pt;
    z-index:1;
    font-family: 'myFirstFont';
    border-style:solid;
    border-color: grey;
    color:black;
}
a{
  text-decoration: none;
}
img{
  width:30%;
}
#wew{
  position: absolute;
}
#tab{
  border-style: solid;
  border-color: #0f0f0f;

}
td{
  border-style: solid;
  border-color: #0f0f0f;

}
#form{
  position: absolute;
  left:30%;
  right:30%;
  width:40%;
  top:5%;
  font-size: 30pt;
}
#logo{
    position:fixed;
    top:0%;
    left:0px;
    width:100%;
    background-color: #e2181b;
    text-align: center;
    font-size: 35pt;
    color:white;
    font-family:'myFirstFont' ;
    text-shadow: 2px 2px 3px white;
    z-index:2;
}
#footer{
  position:fixed;
  top:96%;
  left:0px;
  width:100%;
  background-color: #e2181b;
  text-align: center;
  font-size: 30pt;
  color:white;
  font-family:'myFirstFont' ;
  text-shadow: 2px 2px 3px white;
  z-index:2;
}
#menu1 {
  display: grid;
   grid-template-columns: 100%; 
   grid-template-rows: 50% 50% 50% 50%;
   grid-template-areas:
    'one'
    'two'
    'three'
    'four';
  position: fixed;
    left:0;
    top:30%;
    width:10%;
    text-align: center;
    font-size: 20pt;
  z-index: 2;
}
#menu2{display: grid;
    grid-template-columns: 100%; 
    grid-template-rows: 25% 25% 25% 25% 25% 25% 25%;
    grid-template-areas:
     'one'
     'two'
     'three'
     'four'
     'five'
     'six'
     'seven';
   position: fixed;
     right:0;
     top:30%;
     width:10%;
     text-align: center;
     font-size: 18pt;
     z-index: 2;
}
table{
    text-align: center;
    font-family:'Courier New', Courier, monospace ;
}
h1{
    text-align: center;
}
.item1 {grid-area: one; color:#e2181b; background-color: white;border-left: solid black;border-right: solid black; border-top: solid black; border-top-right-radius: 10pt; border-top-left-radius: 10pt;}
.item2 {grid-area: two ; background-color: #e2181b; color:white;border-left: solid black;border-right: solid black;}
.item3 {grid-area: three; color:#e2181b; background-color: white;border-left: solid black;border-right: solid black;}
.item4 {grid-area: four; color:white; background-color: #e2181b;border-left: solid black;border-right: solid black;}
.item5 {grid-area: five; background-color: white; color:#e2181b;border-left: solid black;border-right: solid black;}
.item6 {grid-area: six; color:white; background-color: #e2181b;border-left: solid black;border-right: solid black;}
.item7 {grid-area: seven; background-color: white; color:#e2181b;border-left: solid black; border-right: solid black; border-bottom-width: 1px; border-bottom: solid black; border-bottom-right-radius: 10pt; border-bottom-left-radius: 10pt;}

@media screen and (max-width:1200px) {
  #logo{
    font-size:25pt;
    height:5%;
}
#footer{
  top:96.5%;
  height:4%;
  font-size: 20pt;
}

    #menu1 {
          top:5%;
          left:0px;
          width:30%;
          font-size:18pt;
          height:4.375%;
      }
      #menu2 {
        top:5%;
        right:0px;
        width:30%;
        font-size:18pt;
        height:10%;
    }
      #main{
          top:22.5%;
          height:77.5%;
          padding-bottom: 150%;
      }
    }
  
  @media screen and (max-width:800px) {
      #logo{
          height:5%;
          font-size:25pt;
      }
    #menu1 {
      position: absolute;
      z-index: 1;
        top:5%;
        left:10%;
        width:80%;
        font-size:18pt;
        height:3.75%;
    }
    #menu2 {
      top:81.8%;
      right:10%;
      width:80%;
      font-size:13pt;
      height:8.5%;
  }
    #main{
        top:20%;
        height:65%;
        bottom: 15%;
        padding-bottom: 150%;
    }
    img{
      display: none;
    }
  }
  @media screen and (max-width:670px) {

    #main{
        top:20%;
        height:65%;
        bottom: 15%;
        padding-bottom: 400%;
    }
    img{
      display: none;
    }
  }

    